In [44]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [45]:
data = pd.read_csv("C:/Users/Siwon/Study/DataSet/movies_metadata.csv", low_memory=False)
data.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [46]:
# Number of Nulls about overview row
print("Number of Nulls about overview row: ",data['overview'].isnull().sum())

Number of Nulls about overview row:  954

In [47]:
# replacement Null to empty value('')
data['overview'] = data['overview'].fillna('')
print("Number of Nulls about overview row: ",data['overview'].isnull().sum())

Number of Nulls about overview row:  0

In [48]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(data['overview'])
print("Shape of TF-IDF matrix : ",tfidf_matrix.shape) #Count of movies, Number of vocas

Shape of TF-IDF matrix :  (45466, 75827)

In [49]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
print("Outcome of Cosine Similarity : ",cosine_sim.shape)

Outcome of Cosine Similarity :  (45466, 45466)

In [50]:
print(cosine_sim)

[[1.         0.01504121 0.         ... 0.         0.00595453 0.        ]
 [0.01504121 1.         0.04681953 ... 0.         0.02198641 0.00929411]
 [0.         0.04681953 1.         ... 0.         0.01402548 0.        ]
 ...
 [0.         0.         0.         ... 1.         0.         0.        ]
 [0.00595453 0.02198641 0.01402548 ... 0.         1.         0.        ]
 [0.         0.00929411 0.         ... 0.         0.         1.        ]]

In [51]:
title_to_index = dict(zip(data['title'], data.index))
print(title_to_index["Toy Story"])
#For find index from the title

0

In [55]:
def get_recommendations(title):
    #get index from the title
    idx = title_to_index[title]
    
    #get cosine similarity
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    #sort by similarity
    sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse=True)
    
    #get the most similar moives top 10
    sim_scores = sim_scores[1:11]
    
    movie_indices = [idx[0] for idx in sim_scores]
    
    return data['title'].iloc[movie_indices]

In [56]:
get_recommendations("American Sniper")

4899                         China Moon
20401                       Finding Joy
23350                      Memorial Day
24841                          Deadline
16206                           Beastly
18094                          Trespass
26367    Stir of Echoes: The Homecoming
25261                    Almost Married
37677                 Alice in the Navy
2274                    Very Bad Things
Name: title, dtype: object

In [57]:
get_recommendations("The Dark Knight Rises")

12481                                      The Dark Knight
150                                         Batman Forever
1328                                        Batman Returns
15511                           Batman: Under the Red Hood
585                                                 Batman
21194    Batman Unmasked: The Psychology of the Dark Kn...
9230                    Batman Beyond: Return of the Joker
18035                                     Batman: Year One
19792              Batman: The Dark Knight Returns, Part 1
3095                          Batman: Mask of the Phantasm
Name: title, dtype: object